<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Element_online_school</title>
</head>
<body>
	<h2>Добавление успеваемости</h2>
	<form method="POST">
		{% csrf_token %}
		<p>
			<label>Введите оценку</label><br>
			<input type="text" name="rating" />
		</p>
		<p>
			<label>Выберите тему</label><br>
			<select name="topic">
				{% for topic in topics %}
					<option name="topic" value="{{topic.id}}">{{ topic }}</option>
				{% endfor %}
			</select>
		</p>
		<p>
			<label>Выберите студента</label><br>
			<select name="student">
				{% for student in users %}
					<option value="{{student.id}}" name="student">{{ student.first_name }} {{student.last_name}}</option>
				{% endfor %}
			</select>
		</p>
		<input type="submit" value="Сохранить" >
	</form>
</body>
</html>